.header-bg {
    background: var(--main-background);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-menu a {
    display: inline-block;
    color: var(--titles);
    padding: 16px 0;
    font-size: 1.125rem;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: var(--titles);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after {
    width: 100%;
}

@media (max-width: 800px) {
    .header {
        justify-content: space-around;
    }

    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background-color: var(--mobile-links);
        border-radius: 4px;
        padding: 12px;
        font-size: 1rem;
    }

    .header-menu a:hover {
        background: #2E2E2E;
    }

    .header-menu a:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 12px;
    }

    .header-menu {
        gap: 12px;
    }
}